<script setup lang="ts">
import UserCardLisr from "./UserCardLisr.vue";
import UserDialog from "./UserDialog.vue";
import UserList from "./UserList.vue";
import {useUserStore} from "@/stores/user";
import { mdiTable, mdiCardOutline } from "@mdi/js";
const useStore = useUserStore();
</script>
<template>
  <v-container>
    <v-row>
      <UserList v-if="useStore.isTable"></UserList>
      <UserCardList v-if="!useStore.isTable"></UserCardList>
      <UserDialog></UserDialog>
    </v-row>
    <v-row class="justify-center">
      <v-btn :icon="mdiTable" flat @click="useStore.isTable = true"></v-btn>
      <v-btn
        :icon="mdiCardOutline"
        @click="useStore.isTable = false"
        flat
      ></v-btn>
    </v-row>
  </v-container>
  <div class="text-h1"></div>
</template>
<style scoped></style>
